In [1]:
# Import dependencies
import pandas as pd

In [17]:
# Read in csv
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RQ58W7SMO911M,4.0,2.0,3.0,N,N
1,RF6IUKMGL8SF,3.0,5.0,5.0,N,N
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
3,RATOTLA3OF70O,5.0,2.0,2.0,N,N
4,R1TNWRKIVHVYOV,4.0,0.0,2.0,N,N

In [7]:
# Filter out so we only have reviews with more than 20 votes
high_sample_df = vine_df.loc[vine_df['total_votes']>20]
high_sample_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2,R1DOSHH6AI622S,4.0,1.0,22.0,N,N
16,R1AABFZH0J0C0C,3.0,17.0,35.0,N,N
17,R3SJYLG07EHNE9,2.0,16.0,34.0,N,N
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
29,R1KPOIT5WT3NEF,1.0,13.0,29.0,N,N

In [11]:
# Filter so we only have helpful reviews (More than 50% of votes are "helpful")
helpful_df = high_sample_df.loc[(high_sample_df['helpful_votes']/high_sample_df['total_votes']) > 0.5]
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
63,R2DXLNKF0EL4CI,4.0,24.0,27.0,N,Y

In [13]:
# Get dataframe of reviews that have vine service paid for
paid_helpful_df = helpful_df.loc[helpful_df['vine']=='Y']
paid_helpful_df.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [16]:
# Get dataframe of reviews that don't have vine service paid for
unpaid_helpful_df = helpful_df.loc[helpful_df['vine']=='N']
unpaid_helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
22,R3MD5TZJGIPTDU,5.0,21.0,31.0,N,N
33,RX6OWUF8EFZ72,5.0,27.0,28.0,N,N
51,R1OPUF771LL5O5,4.0,27.0,27.0,N,N
59,R3AW5JRZYH66M5,1.0,268.0,307.0,N,N
63,R2DXLNKF0EL4CI,4.0,24.0,27.0,N,Y

In [28]:
# Total number of unpaid reviews
unpaid_total = len(unpaid_helpful_df)
unpaid_total

375353

In [31]:
# Total number of five-star unpaid reviews
unpaid_fivestar = len(unpaid_helpful_df.loc[unpaid_helpful_df['star_rating'] == 5.0])
unpaid_fivestar

226910

In [35]:
# Percentage of unpaid reviews that are five stars
percent = unpaid_fivestar/unpaid_total
print(f"{round(percent,3)*100}% of unpaid reviews are five stars.")

60.5% of unpaid reviews are five stars.